body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://e7.pngegg.com/pngimages/534/58/png-clipart-pink-petal-falling-cherry-blossom-flower-blossom-petals-sakura-watercolor-painting-miscellaneous-thumbnail.png");
  background-size: 400px 400px;
  border-radius: 50px ;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

