body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20240412/pngtree-cherry-blossom-petals-falling-background-image_15713413.jpg");
  background-size: 400px 400px;
  border-radius: 50px ;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

